# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/x64/Debug
/.vs/Software-Renderer/v16/ipch/AutoPCH/1615be0337caf719
/.vs/Software-Renderer/v16/ipch/AutoPCH/e4d0631eebeacc52
/.vs/Software-Renderer/v16/.suo
/.vs/Software-Renderer/v16/Browse.VC.db
/.vs/Software-Renderer/v16/Browse.VC.opendb
/Software-Renderer.vcxproj.user
/Software-Renderer.vcxproj.filters
/Software-Renderer.vcxproj
/Software-Renderer.sln
/.vs/Software-Renderer/v16/ipch/AutoPCH/83e46ffd42ed1155/MODEL.ipch
/.vs/Software-Renderer/v16/ipch/AutoPCH/a66c6ce8a48d3a86/EXE_COMMON.ipch
/.vs/Software-Renderer/v16/ipch/AutoPCH/2ff611699013b96/EXE_COMMON.ipch
/.vs/Software-Renderer/v16/ipch/AutoPCH/7339deea3b1ea599/MAIN.ipch
/x64/Release/Software.1987A97E.tlog
/x64/Release
/.vs/Software-Renderer/v16/ipch/AutoPCH
/src/african_head_diffuse.tga
